* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
.navbar-collapse a {
  font-size: 14px;
  font-weight: 600;
}

#signup {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border-radius: 25px;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 25px;
  background-color: hsl(180, 66%, 49%);
  color: white;
}

#intro {
  height: 30rem;
  margin-bottom: 100px;
}

#intro h1 {
  font-weight: 600;
}
#intro p {
  color: hsl(0, 0%, 75%);
}
.shortener-container {
  display: flex;
  justify-content: center;
}
#shortener {
  background-image: url("images/bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 80%;
  position: absolute;
  border-radius: 0.25rem;
}

.form-shortener {
  position: relative;
  top: 50%;
  transform: translateY(120%);
  left: 4.5%;
}
.form-shortener button,
.form-shortener input {
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 0.25rem;
}
.form-shortener button {
  width: 70%;
}

.mini-card-row {
  margin: -150px 0 120px;
}
.mini-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 0.25rem;
  margin-bottom: 30px;
}
.shorten-link {
  display: flex;
  justify-content: center;
}
#statistics .original-link p,
#statistics .shorten-link p {
  margin: auto 10px;
  font-size: 1.3em;
}
#statistics .mini-card .original-link p {
  color: black;
}
#statistics .mini-card .shorten-link p {
  color: hsl(180, 66%, 49%);
}
#statistics .mini-card .shorten-link button {
  border-radius: 0.25rem;
  font-size: 1em;
  width: 7rem;
  padding: 10px 15px;
}

#statistics {
  background-color: hsl(0, 0%, 75%);
  margin-top: 100px;
  padding: 300px 0 50px;
}
.statistics-header {
  position: relative;
}
#statistics h2 {
  font-weight: 600;
}
.statistics-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0;
  position: relative;
}
.statistics-box {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 70px 30px 30px;
  position: relative;
}
.statistics-box:nth-child(2) {
  margin-top: 80px;
}
.statistics-box:nth-child(3) {
  margin-top: 160px;
}
.statistics-box h3 {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 10px;
}
.statistics-box p,
#statistics p {
  font-size: 0.9em;
  color: hsl(257, 7%, 63%);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -12%;
}
#horizontal-line {
  background-color: hsl(180, 66%, 49%);
  width: 90%;
  height: 10px;
  position: absolute;
  bottom: -20rem;
}

#ad {
  background-image: url("images/bg-boost-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  height: 100%;
  width: 100%;
  color: white;
  padding: 3rem 0;
}
#ad h3 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 30px;
}
#ad button {
  font-size: 1.5em;
}

#footer {
  background-color: hsl(255, 11%, 22%);
  color: white;
  padding: 80px 0;
  line-height: 1.7em;
}
#footer h4 {
  font-size: 0.9em;
  padding-bottom: 7px;
}
#footer li {
  font-size: 0.8em;
}
.footer-container {
  display: grid;
  grid-template-columns: 25% 16% 16% 16% 20%;
  justify-content: center;
}
.footer-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  color: hsl(0, 0%, 75%);
}
.brand h3 {
  font-size: 2em;
  font-weight: 600;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 991px) {
  #intro {
    height: 100vh;
  }
  #signup {
    color: black;
    background-color: white;
  }
  .form-shortener {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(60%);
    left: 0;
    margin-bottom: 10px;
  }
  .form-shortener button {
    width: 100%;
  }
  .statistics-container {
    grid-template-columns: auto;
    text-align: center;
  }
  #horizontal-line {
    width: 1%;
    height: 39rem;
    bottom: -58rem;
  }
  .icon {
    left: 50%;
    transform: translateX(-50%);
  }

  .statistics-box:nth-child(3) {
    margin-top: 80px;
  }

  .footer-container {
    grid-template-columns: auto;
    text-align: center;
  }
  .footer-align {
    align-items: center;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}
